!!!
%html
  %body
    %p
    %meta{:charset => "UTF-8"}/
    %title Untitled Document
    :css
      .G-M5 {
          font-size: 70%;
          font-family: arial, sans-serif;
          float: left;
          margin: 0 8px 0 0;
          cursor: pointer
      }
      .G-atb {
          padding: 6px 0 3px 3px;
          background: none;
          border-bottom: 1px solid #e5e5e5
      }
      .G-as7-atb {
          border-bottom: 1px solid #e5e5e5Register attendee on site via iPad
      }
      .G-MI {
          padding: 3px 0 6px 3px;
          background: white;
          border-top: 1px solid #e5e5e5
      }
      .G-asx {
          height: 6px;
          width: 7px;
          background:  no-repeat 0 1px;
          vertical-align: middle;
          font-size: 0;
          margin-left: 3px
      }
      .G-asJ,
      .G-as8 {
          float: left;
          font: bold 80% arial, sans-serif;
          margin-right: 4px;
          padding: 2px 3px 0 3px
      }
      .G-asJ {
          text-decoration: underline;
          cursor: pointer;
          color: #222
      }
      .G-as8 {
          color: #222
      }
      .G-asU {
          float: none!important;
          text-decoration: underline;
          margin-left: .5ex;
          padding: 3px .5ex 0 0;
          cursor: pointer;
          font: normal 80% arial, sans-serif;
          color: #222
      }
      .ata-asE {
          bottom: 1px;
          right: 16px;
          z-index: 9;
          background-color: #fff1a8;
          border: 1px solid #ccc;
          font-size: 80%;
          color: #222;
          padding: 10px;
          position: fixed
      }
      .ata-asJ {
          color: #222;
          white-space: nowrap;
          text-decoration: underline;
          cursor: pointer
      }
      .w-asV {
          background: #f5f5f5;
          min-height: inherit;
          position: relative;
          z-index: 5
      }
      .w-asL {
          cursor: pointer;
          width: 143px;
          height: 28px;
          margin: 8px 10px 0 30px
      }
      .w-asu {
          background: #fff;
          color: #222;
          padding: 0 6px
      }
      .w-asv {
          background: #fff1a8;
          color: #222;
          padding: 0 6px
      }
      .w-asY {
          float: left
      }
      .w-asX {
          margin-top: 10px;
          height: auto
      }
      .w-Nx {
          padding: 5px
      }
      .w-Nw {
          clear: both
      }
      .w-asK .w-asO {
          color: #c00
      }
      .w-asK .w-asP {
          color: #c00;
          font-weight: bold
      }
      .w-asI {
          font-size: 70%;
          color: #222;
          text-decoration: underline;
          cursor: pointer;
          position: absolute;
          top: 1px;
          right: 5px
      }
      .w-as0 {
          vertical-align: middle
      }
      .w-asK .w-asR {
          color: #dd8e27
      }
      .w-as1,
      .w-asK,
      .w-MH {
          font-size: 80%
      }
      .w-Nq .w-asI {
          color: #222
      }
      .w-No .w-asI {
          color: #222
      }
      .w-as2 {
          font: 11px arial, sans-serif;
          color: #222;
          text-decoration: underline
      }
      .w-asK {
          color: #222;
          text-align: right;
          padding: 5px 5px 0 5px;
          float: right
      }
      .w-ath {
          color: #c00;
          font-weight: bold
      }
      .w-Nj {
          font-size: 100%;
          font-weight: bold;
          margin: 0;
          padding: 0
      }
      .w-Nq .w-Nj {
          color: #222
      }
      .w-No .w-Nj {
          color: #222
      }
      .w-O8 {
          float: left
      }
      .w-OI,
      .w-O8 {
          clear: both;
          margin-top: 5px;
          text-align: center
      }
      .w-Pi {
          margin: 0 2px
      }
      .w-MH {
          padding: 4px;
          color: #222;
          background: #fff1a8;
          border: 1px solid #ccc;
          font-weight: bold
      }
      .w-as6 {
          position: relative;
          top: -0.55em;
          color: #c00!important;
          font-size: 80%;
          text-decoration: none;
          zoom: 1
      }
      .w-atd {
          position: relative;
          z-index: 11
      }
      .w-as0 .nr {
          padding: 4px 1px 4px 4px;
          margin: 1px 0
      }
      .w-as0 .nr:focus {
          padding: 3px 0 3px 3px;
          margin: 1px 0!important
      }
      .w-asZ .J-Zh-I {
          padding: 4px 8px;
          font-size: 80%
      }
      .w-asZ .J-K-I {
          font-size: 80%
      }
      .w-asZ .L3 {
          padding-right: 8px
      }
      .w-as2 .ah9 {
          cursor: pointer
      }
      .w-asJ,
      .w-asK .e {
          color: #222
      }
      .w-MH .e {
          color: #15c
      }
      .w-asQ {
          display: table-cell;
          vertical-align: top
      }
      .SK {
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          border: 1px solid #ccc;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 5px
      }
      .J-J5-Ji {
          position: relative;
          display: -moz-inline-box;
          display: inline-block
      }
      * html .J-J5-Ji,
      *:first-child+html .J-J5-Ji {
          display: inline
      }
      .T-P {
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
          background-color: #fff;
          border: 1px solid;
          border-color: #bbb #bbb #a8a8a8;
          padding: 16px;
          position: absolute;
          z-index: 1201!important
      }
      .T-P-aut {
         
          border: 1px solid transparent;
          height: 21px;
          opacity: .4;
          outline: 0;
          position: absolute;
          right: 2px;
          top: 2px;
          width: 21px
      }
      .T-P-aut:focus {
          border: 1px solid #4d90fe;
          opacity: .8
      }
      .T-P-hFsbo {
          position: absolute
      }
      .T-P-hFsbo .T-P-atD,
      .T-P-hFsbo .T-P-atC {
          display: block;
          height: 0;
          position: absolute;
          width: 0
      }
      .T-P-hFsbo .T-P-atD {
          border: 9px solid
      }
      .T-P-hFsbo .T-P-atC {
          border: 8px solid
      }
      .T-P-atB {
          bottom: 0
      }
      .T-P-atG {
          top: -9px
      }
      .T-P-atE {
          left: -9px
      }
      .T-P-atF {
          right: 0
      }
      .T-P-atB .T-P-atD {
          left: -9px
      }
      .T-P-atG .T-P-atD {
          border-color: #bbb transparent;
          left: -9px
      }
      .T-P-atB .T-P-atD {
          border-color: #a8a8a8 transparent
      }
      .T-P-atB .T-P-atC,
      .T-P-atG .T-P-atC {
          border-color: #fff transparent;
          left: -8px
      }
      .T-P-atB .T-P-atD,
      .T-P-atB .T-P-atC {
          border-bottom-width: 0
      }
      .T-P-atG .T-P-atD {
          border-top-width: 0
      }
      .T-P-atG .T-P-atC {
          border-top-width: 0;
          top: 1px
      }
      .T-P-atE .T-P-atD,
      .T-P-atF .T-P-atD {
          border-color: transparent #bbb;
          top: -9px
      }
      .T-P-atE .T-P-atC,
      .T-P-atF .T-P-atC {
          border-color: transparent #fff;
          top: -8px
      }
      .T-P-atE .T-P-atD {
          border-left-width: 0
      }
      .T-P-atE .T-P-atC {
          border-left-width: 0;
          left: 1px
      }
      .T-P-atF .T-P-atD,
      .T-P-atF .T-P-atC {
          border-right-width: 0
      }
      .T-ays {
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-transition: visibility 0, opacity .13s ease-in;
          transition: visibility 0, opacity .13s ease-in;
          background-color: #2a2a2a;
          border: 1px solid #fff;
          color: #fff;
          cursor: default;
          display: block;
          font-size: 11px;
          font-weight: bold;
          margin-left: -1px;
          opacity: 1;
          padding: 7px 9px;
          position: absolute;
          visibility: visible;
          word-break: break-all;
          word-break: break-word
      }
      .T-ays-avH {
          -webkit-transition: visibility .13s, opacity .13s ease-out, left 0 linear .13s, top 0 linear .13s;
          transition: visibility .13s, opacity .13s ease-out, left 0 linear .13s, top 0 linear .13s;
          opacity: 0;
          left: 20px!important;
          top: 20px!important;
          visibility: hidden
      }
      .T-ays-a45 {
          display: none
      }
      .T-ays-hFsbo {
          pointer-events: none;
          position: absolute
      }
      .T-ays-hFsbo .T-ays-atD,
      .T-ays-hFsbo .T-ays-atC {
          content: '';
          display: block;
          height: 0;
          position: absolute;
          width: 0
      }
      .T-ays-hFsbo .T-ays-atD {
          border: 6px solid
      }
      .T-ays-hFsbo .T-ays-atC {
          border: 5px solid
      }
      .T-ays-atB {
          bottom: 0
      }
      .T-ays-atG {
          top: -6px
      }
      .T-ays-atE {
          left: -6px
      }
      .T-ays-atF {
          right: 0
      }
      .T-ays-atB .T-ays-atD,
      .T-ays-atG .T-ays-atD {
          border-color: #fff transparent;
          left: -6px
      }
      .T-ays-atB .T-ays-atC,
      .T-ays-atG .T-ays-atC {
          border-color: #2a2a2a transparent;
          left: -5px
      }
      .T-ays-atB .T-ays-atD,
      .T-ays-atB .T-ays-atC {
          border-bottom-width: 0
      }
      .T-ays-atG .T-ays-atD {
          border-top-width: 0
      }
      .T-ays-atG .T-ays-atC {
          border-top-width: 0;
          top: 1px
      }
      .T-ays-atE .T-ays-atD,
      .T-ays-atF .T-ays-atD {
          border-color: transparent #fff;
          top: -6px
      }
      .T-ays-atE .T-ays-atC,
      .T-ays-atF .T-ays-atC {
          border-color: transparent #2a2a2a;
          top: -5px
      }
      .T-ays-atE .T-ays-atD {
          border-left-width: 0
      }
      .T-ays-atE .T-ays-atC {
          border-left-width: 0;
          left: 1px
      }
      .T-ays-atF .T-ays-atD,
      .T-ays-atF .T-ays-atC {
          border-right-width: 0
      }
      .T-I {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          cursor: default;
          font-size: 11px;
          font-weight: bold;
          text-align: center;
          white-space: nowrap;
          margin-right: 16px;
          height: 27px;
          line-height: 27px;
          min-width: 54px;
          outline: 0;
          padding: 0 8px
      }
      .T-I-JW {
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
      }
      .T-I-KO {
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
      }
      .T-I .T-I-J3 {
          margin-top: -3px;
          vertical-align: middle
      }
      .T-I-J9 {
          margin-left: 5px
      }
      .T-I-awG {
          min-width: 34px;
          padding: 0
      }
      .T-I-Js-Gs,
      .T-I-Js-IF {
          z-index: 1
      }
      .T-I-Js-Gs.T-I-JE {
          z-index: 0
      }
      .T-I-Jp.T-I-Js-Gs,
      .T-I-Jp.T-I-Js-IF {
          z-index: 2
      }
      .T-I-Js-Gs:focus,
      .T-I-Js-IF:focus,
      .T-I-JW.T-I-Js-Gs,
      .T-I-JW.T-I-Js-IF {
          z-index: 3
      }
      .T-I-Js-Gs {
          margin-left: -1px;
          -webkit-border-bottom-left-radius: 0;
          -webkit-border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0
      }
      .T-I-Js-IF {
          margin-right: 0;
          -webkit-border-top-right-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0
      }
      .T-I.T-I-JE:active {
          -webkit-box-shadow: none;
          box-shadow: none
      }
      .T-ays {
          z-index: 9999;
          font-size: 70%
      }
      .a1B {
          height: 100%;
          padding: 0;
          position: relative
      }
      .a1B-J6 {
          height: 100%;
          overflow: auto;
          width: 100%
      }
      .a1B-a1Q,
      .a1B-a1f {
          left: 0;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          width: 100%
      }
      .a1B-a1Q {
          background: -webkit-linear-gradient(rgba(0, 0, 0, .2), transparent);
          height: 6px;
          top: 0;
          -webkit-mask-box-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8), rgba(0, 0, 0, .1))
      }
      .a1B-a1f {
          background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .2));
          bottom: 0;
          height: 4px;
          -webkit-mask-box-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8), rgba(0, 0, 0, .1))
      }
      .a1B-K9>.a1B-a1Q,
      .a1B-Zc>.a1B-a1f {
          display: block
      }
      .d-Qs-Md {
          position: absolute;
          z-index: 701;
          background-color: white;
          -webkit-box-shadow: 1px 4px 15px #666666;
          box-shadow: 1px 4px 15px #666666;
          height: 580px;
          top: 0
      }
      .d-Qs-Md.d-Na-avN {
          border: 1px solid #ccc
      }
      .d-Qs-LE {
          font-family: arial, sans-serif;
          font-size: 13px;
          line-height: 1.5;
          padding: 30px 0 14px 30px;
          width: 790px;
          margin: auto;
          -webkit-user-select: none
      }
      .d-Qs-RG {
          padding: 20px;
          border-bottom: 1px solid #e5e5e5
      }
      .d-Qs-K7 {
          font-size: 20px;
          display: inline-block;
          -webkit-user-select: none;
          vertical-align: top;
          margin-right: 1px
      }
      .d-Qs-Jh-JF {
          background-color: white;
          opacity: .5;
          filter: alpha(opacity=50);
          z-index: 700;
          position: absolute;
          top: 0;
          left: 0
      }
      .d-Qs-Jq {
          position: absolute;
          overflow: hidden;
          cursor: pointer;
          line-height: 0;
          top: 20px;
          right: 11px
      }
      .d-Qs-Jq-ax3 {
          
          background-position: -670px -18px;
          width: 14px;
          height: 14px;
          opacity: .667;
          filter: alpha(opacity=50);
          display: block
      }
      .d-Qs-Jq-ax3-JW {
          opacity: .9;
          filter: alpha(opacity=90)
      }
      .d-Qs-awg {
          top: 20px;
          height: 40px;
          width: 226px;
          vertical-align: middle
      }
      .d-Qs-PW {
          height: 400px
      }
      .d-Qs-axQ-K7,
      .d-Qs-KO-K7 {
          font-size: 15px;
          margin: 0 0 10px;
          font-weight: normal;
          padding: 0
      }
      .d-Qs-axQ {
          width: 350px;
          float: left;
          height: 100%
      }
      .d-Qs-M8-ayz,
      .d-Qs-KO-ayz {
          border: 1px solid #e0e0e0;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          height: 340px;
          overflow-x: hidden;
          overflow-y: scroll;
          padding: 6px;
          -webkit-transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out
      }
      .d-Qs-M8-ayz-JW,
      .d-Qs-KO-ayz-JW {
          border-color: #aaa;
          -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, .1)
      }
      .d-Qs-axO-Pg {
          float: left;
          height: 100%;
          width: 30px;
          position: relative
      }
      .d-Qs-Pg-R {
          height: 50px;
          width: 16px;
          position: relative;
          top: 50%;
          left: 18%
      }
      .d-Qs-aAL-at6-I {
          background-image: -webkit-linear-gradient(top, whiteSmoke, #f1f1f1);
          color: #444;
          border: 1px solid rgba(0, 0, 0, 0.1);
          -webkit-border-radius: 2px;
          border-radius: 2px;
          font-size: 11px;
          height: 29px;
          line-height: 11px;
          min-width: 54px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box
      }
      .d-Qs-aAL-JE {
          background: #4d90fe;
          opacity: .5;
          filter: alpha(opacity=50)
      }
      .d-Qs-aAL-I {
          background-color: #357ae8;
          background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
          background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
          background-image: linear-gradient(top, #4d90fe, #357ae8);
          color: white
      }
      .d-Qs-at6-I {
          background-color: whiteSmoke;
          background-image: -webkit-linear-gradient(top, whiteSmoke, #f1f1f1)
      }

      #letter{
         
        height: 320px;

        width: 500px;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #005798;
        text-align: center;


      }

      @media (max-width: 1200px) {

      #letter{
         width: 500px;
          height: 320px;
        
        
          background-size: 100%;
          background-repeat: no-repeat;
          color: #005798;

          text-align: center;



      }


      }




      @media (max-width: 540px) {

      #letter{
          
      height: 300px;
        
        background-size: 70%;
        background-repeat: no-repeat;
        color: #005798;
        text-align: center;



      }


      }



      .…
    %div{:style => "background:#f8f8f8"}
      %table{:bgcolor => "#005798", :cellpadding => "0", :cellspacing => "0", :style => "table-layout:fixed", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center", :style => "padding:30px 20px 0px"}
              %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "color:#5f6a7c;padding:0 0 16px"}
                      %img{:border => "0", :height => "33", :src => "https://realtymate.com.au/images/apply/LOGO_NEW.fw.png", :style => "display:block", :width => "105"}/
                  %tr
                    %td{:align => "center", :style => "color:#5f6a7c; min-width:320px;", :width => "520"}
                      %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif"}
                        %tbody
                  %tr
                    %td{:align => "center", :style => "color:#5f6a7c", :width => "520"}
                      %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif"}
                        %tbody
                          %tr
                            %td{:align => "center", :style => "color:#ffffff;font-size:26px;line-height:35px;padding:18px 0 0;text-align:center; font-weight:300;", :width => "520"}
                              RealtyMate is
                              = succeed "the ultimate Open Inspection and CRM Tool" do
                                %br/
                          %tr
                            %td{:align => "center", :style => "color:#ffffff;font-size:20px;line-height:30px;padding:18px 0 0;text-align:center; font-weight:600;", :width => "380"}
                              SIMPLE.    SECURE.    FREE.
                  %tr
                    %td{:align => "center", :style => "color:#5f6a7c;padding:24px 0 6px"}
                      %table{:cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:align => "left", :style => "color:#5f6a7c"}
                              %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif"}
                                %tbody
                                  %tr
                                    %td{:align => "center", :bgcolor => "#2996cc", :style => "border-radius:4px;color:#5f6a7c;font-family:sqmarket-bold,Helvetica Neue,Helvetica,sans-serif;font-size:11px;font-weight:bold;letter-spacing:1px;line-height:15px;text-align:center;text-transform:uppercase"}
                                      %a{:href =>  @apply_uri, :style => "background-color:#0080ff;border-radius:4px;color:#ffffff;display:inline-block;font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:15px;font-weight:500;line-height:40px;text-align:center;text-decoration:none;width:220px", :target => "_blank"}
                                        Create Account
                  %tr
                    %td{:style => "color:#5f6a7c;padding:24px 0 0", :width => "520"}

                      %table{:background => "https://realtymate.com.au/images/apply/invitation.fw.png", :style => " height: 320px; width: 500px;\r\n\r\n        background-repeat: no-repeat;\r\n        color: #005798;\r\n     margin-left: auto;\r\n     margin-right: auto;\r\n     text-align: center;"}
                        %a{:href => "", :style => "color:#ffffff;text-decoration:none", :target => "_blank"}
                          %tr
                            %td{:style => "vertical-align: top"}
                              Invite Code
                              %br/
                              = @data["verification_code"]
                              %br/
                              %br/
                              %br/
                              %br/
                              %br/
      %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#ffffff;table-layout:fixed", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center", :style => "padding:34px 20px"}
              %table{:cellpadding => "0", :cellspacing => "0"}
                %tbody
                  %tr
                    %td{:width => "520"}
                      %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;text-align:center\r\n                        ", :width => "100%"}
                        %tbody
                          %tr
                            %td{:style => "color:#5f6a7c;font-size:14px;line-height:22px;padding:0px 0 16px"}
                              Or, you can copy and paste the Invite code in the sign-up page. 
                              %a{:href => "https://realtymate.com.au/users/sign_up" }
                                https://realtymate.com.au/users/sign_up
      %table
      %table{:bgcolor => "#ffffff", :cellpadding => "0", :cellspacing => "0", :style => "background:#ffffff;table-layout:fixed", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center", :style => "table-layout:fixed; font-size:", :width => "100%"}
      / newstuff
      %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center"}
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                %tbody
                  %tr
                    %td{:align => "center"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tbody
                  %tr
                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:30px;line-height:48px;font-weight:300;text-align:center; color:#005798;"}
                      3 Steps to Getting Started
                  %tr
                    %td{:align => "center"}
                      %br/
                      %br/
              / new
              / newsection
              %table{:bgcolor => "#f4f5f5", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "padding:40px 0 0"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:style => "text-align:center"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tbody
                                  %tr{:valign => "top"}
                                    %td{:style => "display:inline-block;text-align:left;padding:0px 20px 40px 0px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:22px;line-height:26px;font-weight:500;text-align:left"}
                                                      %a{:href => "http://realtymate.com.au", :style => "color:#2b333a;text-decoration:none", :target => "_blank"}
                                                        Step 1:
                                                        %br/
                                                        Create A New Listing
                                                        %br/
                                                        On Web Dashboard
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:18px;line-height:22px;color:#6b7073;text-align:left;padding:4px 0"}
                                                      Sign up, log in,
                                                      = succeed "and create new property listing" do
                                                        %br/
                                                       
                                    %td{:style => "display:inline-block;text-align:left;padding:0 20px 40px 20px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:valign => "top", :width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr{:valign => "top"}
                                                    %td{:style => "padding:0 0 0 0", :valign => "top", :width => "300"}
                                                      %div
                                                        %img.CToWUd{:border => "0", :src => "https://realtymate.com.au/images/apply/iosicon.png", :style => "display:block;max-width:300px"}/
                                                    %td{:valign => "top"}
                                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                        %tbody
                                                          %tr
                                                            %td{:style => "padding:4px 0 0"}  
              / new
              / new section 2
              / newsection
              %table{:bgcolor => "#f4f5f5", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "padding:40px 0 0"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:style => "text-align:center"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tbody
                                  %tr{:valign => "top"}
                                    %td{:style => "display:inline-block;text-align:left;padding:0 20px 40px 20px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:22px;line-height:26px;font-weight:500;text-align:left"}
                                                      %a{:href => "http://realtymate.com.au", :style => "color:#2b333a;text-decoration:none", :target => "_blank"}
                                                        Step 2:
                                                        %br/
                                                        Register Attendees
                                                        %br/
                                                        Via iPad
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:18px;line-height:22px;color:#6b7073;text-align:left;padding:4px 0"}
                                                      Download our RealtyMate iPad app to register new customers and follow-up on site.
                                    %td{:style => "display:inline-block;text-align:left;padding:0 20px 40px 20px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:valign => "top", :width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr{:valign => "top"}
                                                    %td{:style => "padding:0 26px 0 0", :valign => "top", :width => "300"}
                                                      %div
                                                        %img.CToWUd{:border => "0", :src => "https://realtymate.com.au/images/apply/iosicon2.png", :style => "display:block;max-width:300px"}/
                                                    %td{:valign => "top"}
                                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                        %tbody
                                                          %tr
                                                            %td{:style => "padding:4px 0 0"}  
                                                          %tr
              / new
              / end of new section2
              / newsection
              %table{:bgcolor => "#f4f5f5", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "padding:40px 0 0"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:style => "text-align:center"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tbody
                                  %tr{:valign => "top"}
                                    %td{:style => "display:inline-block;text-align:left;padding:0 20px 40px 20px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:22px;line-height:26px;font-weight:500;text-align:left"}
                                                      %a{:href => "http://realtymate.com.au", :style => "color:#2b333a;text-decoration:none", :target => "_blank"}
                                                        Step 3:
                                                        %br/
                                                        Follow-up On Web Dashboard
                                                  %tr
                                                    %td{:style => "font-family:sqmarket,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:18px;line-height:22px;color:#6b7073;text-align:left;padding:4px 0"}
                                                      Log in on the website to manage your customers, update listings, send emails and more!
                                    %td{:style => "display:inline-block;text-align:left;padding:0 20px 40px 20px", :valign => "top"}
                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr{:valign => "top"}
                                            %td{:valign => "top", :width => "280"}
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                %tbody
                                                  %tr{:valign => "top"}
                                                    %td{:style => "padding:0 26px 0 0", :valign => "top", :width => "300"}
                                                      %div
                                                        %img.CToWUd{:border => "0", :src => "https://realtymate.com.au/images/apply/iosicon3.png", :style => "display:block;max-width:300px"}/
                                                    %td{:valign => "top"}
                                                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                                                        %tbody
                                                          %tr
                                                            %td{:style => "padding:4px 0 0"}  
              / new
              %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#ffffff;table-layout:fixed", :width => "100%"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "padding:0px 20px 34px"}
                      %table{:cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:width => "520"}
                              %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;text-align:left", :width => "100%"}
                                %tbody
                                  %tr
                                    %td{:style => "border-top-color:#e0e0e0;border-top-style:solid;border-top-width:1px;color:#5f6a7c;font-size:14px;line-height:22px;padding:34px 0 0px"}
                                      Need help setting up? Connect with our
                                      %b{:style => "color:#2d394f;font-family:sqmarket-medium,Helvetica Neue,Helvetica,sans-serif;font-weight:bold"} dedicated Support Team
                                      and we will help you through the process and answer any other questions you may have.
              %table{:bgcolor => "#f8f8f8", :cellpadding => "0", :cellspacing => "0", :style => "table-layout:fixed", :width => "100%"}
                %tbody
                  %tr
                    %td{:align => "center", :style => "padding:46px 20px 50px"}
                      %table{:cellpadding => "0", :cellspacing => "0"}
                        %tbody
                          %tr
                            %td{:align => "center", :width => "420"}
                              %table{:cellpadding => "0", :cellspacing => "0", :style => "padding:30px 0"}
                                %tbody
                                  %tr
                                    /
                                      <td style="padding:6px 5px 26px"><img border="0" height="22" src="https://ci5.googleusercontent.com/proxy/wZ8QFLu4RkWi84urtNp8Zildr8ZS8OSefN-Z8RYWRuL3c1uf9nXJCmet1Wo6wUcB_Nj4DDwJj9EDq8mCPHoVQOIoncHyKbnPBoT8c-OlmJ47DNjlFjkOjISi_4M3QK-67sYp9Q=s0-d-e1-ft#https://d1g145x70srn7h.cloudfront.net/images/email/misc/social-facebook-22.png" style="display:block" width="22">
                                      </td>
                                      <td style="padding:6px 5px 26px"><img border="0" height="22" src="https://ci5.googleusercontent.com/proxy/nojCmjnpu2zy2Lz065KOMiLBM8QnTSLft5OlkL-s3KFGDPA7nm7KGP6hT7fnNNHXxME1hrdy72PGL4FEKdkRQRp-Jle3DwpPEVmWUDEpyUOz11IFjUc4xYexBDmnYI47Sdi8=s0-d-e1-ft#https://d1g145x70srn7h.cloudfront.net/images/email/misc/social-twitter-22.png" style="display:block" width="22">
                                      </td>
                                      <td style="padding:6px 5px 26px"><img border="0" height="22" src="https://ci5.googleusercontent.com/proxy/lNjyegWHnG_AF8r7owldShjixWxvhWna9weNV-i3biwDi4-vytULqTx1GrtQVFK906Bbi7M-JSTa4xcAnx33RSm5T_2gtKH6iavKZy4-KGuMPkKCuIGrRXqyX3e6Egh_vPDQQHs=s0-d-e1-ft#https://d1g145x70srn7h.cloudfront.net/images/email/misc/social-instagram-22.png" style="display:block" width="22">
                                      </td>
                                      </tr>
                                      </tbody></table>
                                      </td>
                                  %tr
                                    %td{:align => "center", :width => "420"}
                                      %table{:cellpadding => "0", :cellspacing => "0", :style => "font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif"}
                                        %tbody
                                          %tr
                                            %td{:align => "center", :style => "color:#5f6a7c;font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:11px;letter-spacing:1px;line-height:15px;text-align:center;text-transform:uppercase"}
                                              © 
                                              = Time.zone.now.year
                                              RealtyMate Pty Ltd
                                          %tr
                                            %td{:align => "center", :style => "color:#5f6a7c;font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:11px;letter-spacing:1px;line-height:15px;text-align:center;text-transform:uppercase"}
                                              117 Wigram Street
                                              %span{:style => "white-space:nowrap"} Harris Park, 2015
                                          %tr
                                            %td{:align => "center", :style => "color:#5f6a7c;font-family:sqmarket,Helvetica Neue,Helvetica,sans-serif;font-size:11px;letter-spacing:1px;line-height:15px;padding:20px 0 0;text-align:center;text-transform:uppercase"}
                                  %tr
                                    %td{:align => "center", :style => "padding:23px 0 0", :width => "420"}
                                      %table{:cellpadding => "0", :cellspacing => "0"}
                                        %tbody
                                          %tr
                                            %td
                                              %a{:href => "https://squareup.com/subscriptions/r?ee=e59c89cb933dbde7aa7ef517aabc124a0615a14498a4b0618058b564--ZD1PNzdLTTFEQTZsVmd3ZkFaJmU9JTIzZm9vdGVyX2pld2VsJm0lNUJjb250ZW50LWlkJTVEPTE5MDlmYTNjNDczMDA3NDI4MjIxYThlOSZuPWVtYWlsY2xpY2smcj1odHRwcyUzQSUyRiUyRnNxdWFyZXVwLmNvbSUyRg", :style => "text-decoration:none", :target => "_blank"}
                                                %img{:border => "0", :height => "33", :src => "https://realtymate.com.au/images/apply/LOGO_BUTTOM.png", :style => "display:block", :width => "33"}/