= stylesheet_link_tag "main"
= stylesheet_link_tag "email_sent"

.container
	.row
		.col-md-12.heading-center.eml-title
			Thank you for applying!
			%br
			Please check your email.
		.col-md-12.heading-center.eml-detail
			An invitation email has just been sent to your email, if you didn’t receive it please:
			%br
			%br
			1. Check that your email address is correct and valid 
			%br
			2. Check your junk/spam folder
			%br
			%br
			%br
			If you are experiencing difficulty, please 
			%a{:href => "mailto:info@realtymate.com.au"} contact us. 


