= stylesheet_link_tag "main"
= stylesheet_link_tag "email_sent_pwd"

.container
	.row
		.col-md-12.heading-center.eml-title
			Check your email
	.row
		.col-md-12.heading-center.eml-detail
			We have sent a message to your email account. Click the link in the email to reset your password.
			%br
			%br
			If you didn’t receive our email, please check your junk or spam folders. 
			%br
			%br
			%a{:href=>"/users/password/new"}
				I didn't receive the email