%div{:id=>"upload_user_profile_image_colorbox"}
  = form_tag('/inspections/upload_property_file', method: :post) do 
    #uploader_user_profile
      %p Your browser doesn't have Flash, Silverlight or HTML5 support.
    //= submit_tag "Send"

