%div{:id=>"upload_company_logo_colorbox"}
  = form_tag('/inspections/upload_property_file', method: :post) do 
    #uploader_company_logo
      %p Your browser doesn't have Flash, Silverlight or HTML5 support.
    //= submit_tag "Send"

