<%= stylesheet_link_tag "main" %>
<%= stylesheet_link_tag "404" %>

<body>

    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">

            <!-- Info -->
            <div class="info">
                <h1>Oops! 404 error <br /></h1>
                <p>The page you are looking for was moved, removed, renamed or <br />doesn’t exist.</p>
                <a href="/" class="btn">Go Home</a>
            </div>
            <!-- end Info -->

            <!-- Giraffe -->
            <div class="giraffe">
                <div class="eye"></div>
            </div>
            <!-- end Giraffe -->

        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->

</body>

