.container {
	width:50%;
}

.eml-title {
	font-size: 20px;
	color: #00529B;
	margin-top:30px;
	margin-bottom: 30px;
	text-align: center;
}

.eml-detail, .eml-detail a{
	font-size: 16px !important;
	font-weight: 300;
	color: #989898;
	text-align: left;
}

.eml-detail a {
	color: #00529B;
}

.eml-title, .eml-detail {
	padding-left: 10% !important;
	padding-right: 10% !important;
}

#upload_image {
  visibility: hidden;
}

body{
	padding-top: 75px  !important;
	overflow: hidden;
	background-color: #ffffff;
}