body {
	width: 100%;
	overflow: hidden;
	background-color: #ffffff;
	padding-top: 75px !important;
}

.container {
	padding: 0;
	width: 100%;
}

.row-blue {
	margin: 0;

}

.col-sm-4 {
	width: 25%;
	margin-left: 37.5%;
	margin-right: 37.5%;
}
.fir-line {
	margin-bottom: 5px !important;
}
.sec-line {
	margin-top: 5px;
	margin-bottom:20px;
}

.fgt-container {
	text-align: center;
}

.rst-container {
	text-align: center;
	margin-top: 25px;
	width:30%;
	margin-left: 35%;
	margin-right: 35%;
}

h2 {
	font-weight: 600;
	text-align: center;
}

.field {
	width:100%;
}

.col-sm-12 {
	text-align: center;
}
.find {
	margin-top: 80px;
}

label {
	margin-top:20px;
	margin-bottom: 20px !important;
}

label,input[type="email"],.field {
	text-align: left !important;
}

input[type="email"]{
	height:55px;
	width: 100% !important;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="password"] {
	height:55px;
	width: 100% !important;
	margin-bottom: 20px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="submit"] {
	height:45px;
	width:100% !important;
}

.row-blue {
	background-color: #00539c;
	color: #ffffff !important;
	text-align: center;
}

.row-blue h2 {
	text-align: center !important;
}

.field.col-sm-3 {
	width: 25%;
	padding-left: 0;
}

.col-sm-9 {
	padding-right: 0 !important;
}
.set-pwd {
	margin-top:30px;
	margin-bottom: 20px;
}

.pwd-dtl-line0 {
	margin-top: 30px;
	margin-bottom:30px;
	font-size: 15px;
}

.pwd-dtl-line2 {
	margin-bottom:30px;
}

.btn-blue {
	background-color: #00539c;
}

#upload_image {
  visibility: hidden;
}
