%div{:id=>"upload_image_colorbox"}
  = form_tag('/inspections/upload', method: :post) do 
    #uploader_image
      %p Your browser doesn't have Flash, Silverlight or HTML5 support.
    //= submit_tag "Send"



