%div{:id=>"upload_files_colorbox"}
  = form_tag('/inspections/upload_property_file', method: :post) do 
    #uploader_files
      %p Your browser doesn't have Flash, Silverlight or HTML5 support.
    //= submit_tag "Send"



