<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @inspection.address %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
