/ .container
/   %hr/
/   / Footer
/   %footer
/     .row
/       #navbar.collapse.navbar-collapse
/         %ul.nav.navbar-nav
/           %li
/             %a{:href => "#"} Sitemap
/           %li
/             %a{:href => "#"} Contact Us
/           %li
/             %a{:href => "#"} Private Policy
/           %li
/             %a{:href => "#"} Copyright & Trademark
/           %li
/             %a{:href => "#"} Terms of Use
/           %li
/             %a{:href => "#"} Help
/           %li
/             %a{:href => "#"} Member Centre
/           %li
/             %a{:href => "#"} Advertise with Us
